apiVersion: apps/v1
kind: Deployment
metadata:
  name: mlflow
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mlflow
  template:
    metadata:
      labels:
        app: mlflow
    spec:
      containers:
      - name: mlflow
        image: anurag9507/spe-mlops:latest 
        command: ["mlflow", "ui", "--host", "0.0.0.0", "--port", "5001"]
        ports:
        - containerPort: 5001
        env:
        - name: PYTHONUNBUFFERED
          value: "1"
---
apiVersion: v1
kind: Service
metadata:
  name: mlflow # This name matches what is in your train.py
spec:
  selector:
    app: mlflow
  ports:
  - port: 5001
    targetPort: 5001