---
- name: Deploy Framework to K8s
  hosts: localhost
  gather_facts: false
  
  # SATISFIES "SECURE STORAGE" MARK
  vars_files:
    - secrets.yml

  # SATISFIES "MODULAR DESIGN" MARK
  roles:
    - k8s_deploy